.container {
    height: 5rem;
    background-color: rgba(0, 0, 0, 0.92)
}

.content {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 5rem;

    nav {
        display: flex;
        align-items: center;
        justify-content: space-around;


        a {
            padding: 0 0.9rem;
            color: #FFF;
        }

    }
}